/*General website fonts*/
@font-face {
    font-family: nintendoFont;
    /* set name */
    src: url(Nintendo-DS-BIOS.ttf);
    /* url of the font */
}


body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: "nintendoFont", serif;
    background: #0687e48e;
    font-family: "nintendoFont", serif;
}

h1 {
    font-size: 200px;
    margin-bottom: 10px;
}

h2 {
    font-size: 150px;
    margin-top: 0px;

}


#menu {
    background: pink;
    border: 10px solid #D55E0F;
    border-radius: 20px;
    background: #0687e48e;
    font-family: "nintendoFont", serif;
    text-align: center;
    align-items: center;
    max-width: 1000px;
    padding: 30px;
}

#menu a {
    text-decoration: none;
    color: black;
    display: block;
    /*each link behaves like its own line*/
    margin-bottom: 15px;
    font-size: 60px;
}

#menu a:hover {
    color: white;
}